<div class="span8" id="side_post_thread_<%= @post.id%>">
	<%= show_a_post(@post, @heading)%>
</div>
<div class="span4" id="side_comment_thread_<%= @post.id%>">
	<%= show_comment_thread(@post, @heading)%>
</div>
